<% unless flash[:errors].nil? %>
  <% flash[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
<% end %>

<div class='form-box'>
  <%= form_tag :favours do |f| %>
    <div id='help_first_step'>
      <h3>To post a new favour, first choose clans to post the favour in...</h3>
      <% @clans.each do |clan| %>
        <%= label_tag("clan[#{clan.id}]".to_sym, clan.name) %>
        <%= check_box_tag("clan[#{clan.id}]".to_sym) %>
      <% end %>
    </div>
    <div id='help_second_step'>
      <%= label_tag(:description, "Next, describe the favour...") %>
      <%= text_area_tag(:description, nil, rows: 5) %>
    </div>
    <div id='help_third_step' class='row'>
      <div class='col-md-6'>
        <h3>Choose anyone else this favour is for...</h3>
      </div>
      <div class='col-md-6'>
        <%= select_tag(:users_benefiting, options_from_collection_for_select(@users,:id,:username), {multiple: true}) %>
      </div>
    </div>
    <div id='help_fourth_step'>
      <%= submit_tag("Request help", class: 'help-button') %>
    </div>
  <% end %>
</div>

<% if @favours_for_me.count > 0 %>
  <div class='favours-benefiting-me summary'>
    <h1>Favours that'll help me...</h1>
    <ul><% @favours_for_me.each do |favour| %>
      <li class='row favour-level'>
        <div class='col-md-3'>
          <%= favour.description %>
        </div>
        <div class='status col-md-3'>
          <%= favour.formeindex_status %>
        </div>
        <div class='col-md-6'>
          <% unless favour.bids.nil? %>
            <ul><% favour.bids.each do |bid| %>
              <li id='bid_<%=bid.id%>' class='row'>
                <div class='col-md-6'>
                  <%= "#{bid.user.username} bidded #{bid.amount}" %>
                </div>
                <div class='col-md-6'>
                  <% if favour.formeindex_status =~ /accepted/ %>
                    <% if bid.accepted %>
                      <%= button_to "#{bid.user.username} has done this favour", favour_completion_path(favour), class: 'favour-button' %>
                    <% end %>
                  <% elsif favour.formeindex_status =~ /carried/ %>
                    <% if bid.accepted %>
                      <%= bid.user.username %> did the favour
                    <% end %>
                  <% else %>
                    <%= button_to 'Accept bid', "bids/#{bid.id}/accept", class: 'favour-button' %>
                  <% end %>
                </div>
              </li>
            <% end %></ul>
          <% end %>
        </div>
      </li>
    <% end %></ul>
  </div>
<% end %>