<% unless flash[:errors].nil? %>
  <% flash[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
<% end %>

<div class='form-box'>
  <%= form_tag :favours do |f| %>
    <div id='first_step'>
      <h3>To post a new favour, first choose clans to post the favour in...</h3>
      <% @clans.each do |clan| %>
        <%= label_tag("clan[#{clan.id}]".to_sym, clan.name) %>
        <%= check_box_tag("clan[#{clan.id}]".to_sym) %>
      <% end %>
    </div>
    <div id='second_step'>
      <%= label_tag(:description, "Next, describe the favour...") %>
      <%= text_area_tag(:description, nil, rows: 5) %>
    </div>
    <div id='third_step' class='row'>
      <div class='col-md-6'>
        <h3>Choose anyone else this favour is for...</h3>
      </div>
      <div class='col-md-6'>
        <%= select_tag(:users_benefiting, options_from_collection_for_select(@users,:id,:username), {multiple: true}) %>
      </div>
    </div>
    <div id='fourth_step'>
      <%= submit_tag("Request help", class: 'help-button') %>
    </div>
  <% end %>
</div>

<% if @favours_for_me %>
  <div class='favours-benefiting-me'>
    <h1>Favours that'll help me...</h1>
    <ul><% @favours_for_me.each do |favour| %>
      <li>
        <%= favour.description %>
        <p class='status'>
          <%= favour.formeindex_status %>
        </p>
        <% unless favour.bids.nil? %>
          <% favour.bids.each do |bid| %>
            <li id='bid_<%=bid.id%>'>
              <%= bid.amount %>
              <% if favour.formeindex_status =~ /accepted/ %>
                <% if bid.accepted %>
                  <%= button_to "#{bid.user.username} has done this favour", favour_completion_path(favour) %>
                <% end %>
              <% elsif favour.formeindex_status =~ /carried/ %>
                <% if bid.accepted %>
                  <%= bid.user.username %> did the favour
                <% end %>
              <% else %>
                <%= button_to 'Accept bid', "bids/#{bid.id}/accept" %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
<% end %>