<%= form_tag :favours do |f| %>
  <% unless flash[:errors].nil? %>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  <% end %>
  <% @clans.each do |clan| %>
    <div>
      <%= label_tag("clan[#{clan.id}]".to_sym, clan.name) %>
      <%= check_box_tag("clan[#{clan.id}]".to_sym) %>
    </div>
  <% end %>
  <div>
    <%= label_tag(:description, "Description") %>
    <%= text_field_tag(:description) %>
  </div>
  <div>
    <%= select_tag(:users_benefiting, options_from_collection_for_select(@users,:id,:username), {multiple: true}) %>
  </div>
  <%= submit_tag("Request help") %>
<% end %>