<% unless flash[:errors].nil? %>
  <% flash[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
<% end %>

<%= form_tag :favours do |f| %>
  Choose clans to post favour in...
  <% @clans.each do |clan| %>
    <div>
      <%= label_tag("clan[#{clan.id}]".to_sym, clan.name) %>
      <%= check_box_tag("clan[#{clan.id}]".to_sym) %>
    </div>
  <% end %>
  <div>
    <%= label_tag(:description, "Description") %>
    <%= text_field_tag(:description) %>
  </div>
  <div>
    Choose anyone else you this favour is for...
    <%= select_tag(:users_benefiting, options_from_collection_for_select(@users,:id,:username), {multiple: true}) %>
  </div>
  <%= submit_tag("Request help") %>
<% end %>

<div class='favours-benefiting-me'>
  <% @favours_for_me.each do |favour| %>
    <li>
      <%= favour.description %>
      <p class='status'>
        <%= favour.formeindex_status %>
      </p>
      <% unless favour.bids.nil? %>
        <% favour.bids.each do |bid| %>
          <li id='bid_<%=bid.id%>'>
            <%= bid.amount %>
            <% if favour.formeindex_status =~ /accepted/ %>
              <% if bid.accepted %>
                <%= button_to "#{bid.user.username} has done this favour", favour_completion_path(favour) %>
              <% end %>
            <% elsif favour.formeindex_status =~ /carried/ %>
              <% if bid.accepted %>
                <%= bid.user.username %> did the favour
              <% end %>
            <% else %>
              <%= button_to 'Accept bid', "bids/#{bid.id}/accept" %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </li>
  <% end %>
</div>