<% unless flash[:errors].nil? %>
  <% flash[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
<% end %>

<div class='form-box'>
  <%= form_for @clan do |f| %>
    <div id='clan_first_step'>
      <h3>To create a new clan, first give it a name...</h3>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div id='clan_second_step'>
      <%= f.label(:description, "Then describe the clan...") %>
      <%= f.text_area(:description, rows: 5) %>
    </div>
    <div id='clan_third_step'>
      <%= f.submit "Create new clan", class: 'help-button' %>
    </div>
  <% end %>
</div>

<div class='myclans summary'>
  <% unless @myclans.nil? %>
    <h1>Clans I am in...</h1>
    <ul><% @myclans.each do |clan| %>
      <li class='row top-level'>
        <div class='col-md-4'><%= clan.name %></div>
        <div class='col-md-4'><%= clan.description %></div>
        <div class='col-md-4'><%= button_to "Leave #{clan.name}", clan_join_path(clan), {method: :delete, class: 'favour-button'} %></div>
      </li>
    <% end %></ul>
  <% end %>
</div>

<div class='otherclans summary'>
  <% unless @otherclans.nil? %>
    <h1>Clans I'm not in...</h1>
    <ul><% @otherclans.each do |clan| %>
      <li class='row top-level'>
        <div class='col-md-4'><%= clan.name %></div>
        <div class='col-md-4'><%= clan.description %></div>
        <div class='col-md-4'><%= button_to "Join #{clan.name}", clan_join_path(clan), class: 'favour-button' %></div>
      </li>
    <% end %></ul>
  <% end %>
</div>