<nav class='navbar navbar-default navbar-fixed-top'>
  <div class='container'>
    <% if signed_in? %>
      <ul class='nav navbar-nav'>
        <li id='thankyoupoints'><%= current_user.thankyoupoints %> Thank You Points</li>
      </ul>
      <ul class='nav navbar-nav navbar-right'>
        <li><%= link_to "#{current_user.username}'s dashboard", dashboard_path %></li>
        <li><%= link_to "Sign out", session_path, method: :delete %></li>
      </ul>
    <% else %>
      <ul class='nav navbar-nav navbar-right'>
        <li><%= link_to "Sign in", new_session_path %></li>
        <li><%= link_to "Sign up", new_user_path %></li>
      </ul>
    <% end %>
  </div>
</nav>