<!DOCTYPE html>
<html>
<head>
  <title>Do Me A Favour</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<div class='container-fluid'>
  <div class='container'>
    <% if signed_in? %>
      <%= link_to "#{current_user.username}'s dashboard", dashboard_path %>
      <%= link_to "Sign out", session_path, method: :delete %>
      <%= current_user.thankyoupoints %> Thank You Points
    <% else %>
      <%= link_to "Sign in", new_session_path %>
      <%= link_to "Sign up", new_user_path %>
    <% end %>
  </div>
</div>

<div class='container'>
  <%= yield %>
</div>

</body>
</html>
