<!DOCTYPE html>
<html>

<head>
  <title>Do Me A Favour</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render partial: 'navbar' %>
  <div class='container'>
    <%= render partial: 'errors' %>
    <%= yield %>
  </div>
</body>

</html>
